* {
	font-size: 16px;
	font-family: monospace;
	background-color: #000;
	transition: 0.3s;
	color: #fff;
}

input[type=text] {
    width: 66.7%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #a11;
    box-sizing: border-box;
	background-color: #000;
	outline: none;
}

input[type=text]:focus {
    border: 2px solid #d11;
	background-color: #111;
}

input[type=submit] {
    width: 66.7%;
    background-color: #411;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border: 2px solid #a11;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #611;
	border: 2px solid #f00;
}

form, div {
    border: 2px solid #a11;
    background-color: #333;
    padding: 20px;
}

.suffix {
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 2px solid #a11;
	border-left: 0;
	box-sizing: border-box;
	background-color: #000;
	outline: none;
}
